In [2]:
import pandas as pd
pd.set_option('display.max_columns', None)
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import requests
import time
states = ["AL", "AZ", "AR", "CA", "CO", "CT", "DC", "DE", "FL", "GA", 
          "ID", "IL", "IN", "IA", "KS", "KY", "LA", "ME", "MD", "MA", "MI", "MN", "MS", 
          "MO", "MT", "NE", "NV", "NH", "NJ", "NM", "NY", "NC", "ND", "OH", "OK", "OR", "PA", 
          "RI", "SC", "SD", "TN", "TX", "UT", "VT", "VA", "WA", "WV", "WI", "WY"]

In [6]:
df_nat = pd.read_csv('Form 176 Type Items 1997-2019.csv',low_memory=False)
df_nat.columns = [i.replace('<BR>',' ') for i in df_nat.columns]

In [27]:
def get_company_full_metrics(sa): 
    lf = pd.DataFrame(columns=['State','Company','Company Name','Metric']+[str(i) for i in range(1997,2020)])
    df = df_nat[df_nat.State==sa]
    for comp in df.Company.unique():
        print(comp)
        temp_df = df[(df.Company==comp)].filter(['Year','State','Company','Company Name']+list(df.columns[21:]))
        temp_df.index = temp_df['Year']
        for col in df.columns[21:]:
            metrics = [0 for _ in range(1997,2020)]
            for year in range(1997,2020):
                if(year in temp_df.index):
                    if(temp_df.at[year,col]>0):
                        metrics[year-1997] = temp_df.at[year, col]
            lf.loc[len(lf)] = list(temp_df.iloc[0,1:4]) + [col] + metrics
    return lf

In [61]:
def get_state_metrics(sa): 
    lf = pd.DataFrame(columns=['State','Metric']+[str(i) for i in range(1997,2020)])
    df = df_nat[df_nat.State==sa]
    df.index = df['Year']
    for col in df.columns[21:]:
        metrics = [0 for _ in range(1997,2020)]
        for year in range(1997,2020):
            if(year in temp_df.index):
                if(temp_df.at[year,col]>0):
                    metrics[year-1997] = temp_df.at[year, col]
        lf.loc[len(lf)] = list(temp_df.iloc[0,1:4]) + [col] + metrics
    return lf

In [100]:
def get_state_metric_totals(s):
    sa = df_nat[df_nat.State==s]
    sasum = pd.DataFrame(columns=['State','Metric']+[str(i) for i in range(1997,2020)])
    for i in sa.columns[21:]:
        metrics = [0 for _ in range(1997,2020)]
        for yr in range(1997,2020):
            temp_df = sa[sa.Year==yr]
            year_metric = np.nan_to_num(temp_df[i])
            if('Price' in i):
                try:
                    val = sum(year_metric)/np.count_nonzero(year_metric)
                    metrics[yr-1997] = round(val,2)
                except:
                    None
            else:
                metrics[yr-1997] = int(sum(year_metric))
        sasum.loc[len(sasum)] = [s,i] + list(metrics)
    return sasum

In [101]:
ga = get_state_metric_totals('GA')

/Users/ryaniyer/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:11: RuntimeWarning: invalid value encountered in double_scalars
  # This is added back by InteractiveShellApp.init_path()

In [105]:
np.nan_to_num(sa['Residential Transported Volume (Mcf)'])

array([  0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,
         0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,
         0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,
         0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,
         0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,
         0.,   0.,   0.,   0., 511.,   0.,   0.,   0.,   0.,   0.,   0.,
       987.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,
         0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,
         0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,
         0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,
         0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,
         0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,
         0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.])

In [102]:
ga.head(50)

,State,Metric,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,GA,"Losses from leaks, etc. within State (Mcf)",0,0,0,0,0,227247,2198,64438,24809,22167,69370,1199,12790,433349,652132,1100654,942730,1074629,810556,754266,641839,635861,482125
1,GA,Residential Total Volume (Mcf),114383291,107254890,98776604,140838159,119969438,126666637,129906757,126491665,124559851,110245419,111894622,119375475,118589016,138670879,113335320,97663502,121628998,134482234,118028069,115921784,111249371,133084733,123249441
2,GA,Residential Sales Volume (Mcf),114383291,107181003,59425592,19466695,18991642,17990861,18408325,18135788,18073725,16204077,16055351,17227388,16759186,19832602,17072565,13188672,16954968,18879503,15991684,14133195,13553774,17309191,15996160
3,GA,Residential Transported Volume (Mcf),0,73887,39351012,121371464,100977796,108675776,111498432,108355877,106486126,94041342,95839271,102148087,101829830,118838277,96262755,84474830,104674030,115602731,102036385,101788589,97695597,115775542,107253281
4,GA,Residential Sales Price (Dollars),8,7.9,7.97,8.87,11.6,10.48,11.84,12.89,15.45,17.43,15.89,16.55,14.57,13.98,13.92,14.4,13.92,14.12,13.08,13.51,14.78,14.17,14.62
5,GA,Residential Transported Price (Dollars),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.76,2.85,2.45,3.2,3.71,3.01,2.75,3.15,3.19,4.15,4.04,4.74
6,GA,Residential Sales Revenue (Dollars),847729180,727105005,259730510,163202086,200923073,167314331,204552039,214923362,257229023,256610461,235037792,266307947,221264614,241580820,204562039,164412222,201068410,233652879,194080203,177205719,186764352,222426708,212814553
7,GA,Residential Transported Revenue (Dollars),0,0,0,0,0,0,0,0,0,0,0,281600711,289802332,291675591,308293835,313121346,315046577,318103836,321560132,324693278,405527614,467447832,507869028
8,GA,Residential Total Customers,1553948,1657709,1732865,1680749,1737850,1735063,1747017,1752346,1773121,1726239,1793650,1791256,1744934,1740587,1740006,1739543,1805425,1759394,1777617,1793371,1804749,1827473,1842065
9,GA,Residential Sales Customers,1553948,1595310,867480,305193,307177,315932,319356,318640,325150,328992,331208,329507,324307,321290,321515,319179,377652,319109,320287,321163,320217,326832,326686
10,GA,Residential Transported Customers,0,62399,865385,1375556,1430673,1419131,1427661,1433706,1447971,1397247,1462442,1461749,1420627,1419297,1418491,1420364,1427773,1440285,1457330,1472208,1484532,1500641,1515379
11,GA,Commercial Total Volume (Mcf),57219575,55383294,43580780,58793363,50644565,48630556,50272974,55047379,52901526,48136961,48590536,51518204,53627361,60153163,56601538,51918173,57195233,59052218,53744965,51327204,49193053,56539211,53611071
12,GA,Commercial Sales Volume (Mcf),51008963,46305327,26584321,10067095,10113908,10235623,10661523,11022448,10789783,9932538,9624006,9962881,9781904,10996210,10089973,8947369,10701171,12525790,11563691,10977292,10656933,12243378,11876743
13,GA,Commercial Transported Volume (Mcf),6210612,9077967,16996459,48726268,40530657,38394933,39611451,44024931,42111743,38204423,38966530,41555323,43845457,49156953,46511565,42970804,46494062,46526428,42181274,40349912,38536120,44295833,41734328
14,GA,Commercial Sales Price (Dollars),7.34,7.19,7.13,8.07,10.46,9.25,10.68,11.25,14.1,15.24,14.36,15.26,13.04,12.63,12.14,11.88,11.91,12.15,11.17,10.82,11.57,11.65,11.66
15,GA,Commercial Transported Price (Dollars),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.24,2.04,1.81,1.93,2.03,1.86,1.9,2.14,2.21,2.6,2.45,2.66
16,GA,Commercial Sales Revenue (Dollars),328148136,277744291,102970067,70762141,92902980,79144747,103056597,114060433,141311956,134589703,122804325,140828248,109665455,117826974,105099510,89569637,109020313,130395613,111555701,99757754,106101738,121592713,118757764
17,GA,Commercial Transported Revenue (Dollars),0,0,0,0,0,0,0,0,0,0,0,93003876,89390440,88741933,89553944,87248185,86552779,88190820,90256491,89240255,100146225,108317979,110841959
18,GA,Commercial Total Customers,123367,125990,225020,128275,130373,128233,129867,128923,128389,127843,127832,126804,127347,124759,123454,121243,126060,122578,123345,124271,124314,125741,126472
19,GA,Commercial Sales Customers,123279,125930,126347,27579,29680,30102,32084,32107,32130,33452,33427,33137,34573,32318,32162,31755,36556,31850,31888,32272,32531,32836,32770
20,GA,Commercial Transported Customers,88,60,98673,100696,100693,98131,97783,96816,96259,94391,94405,93667,92774,92441,91292,89488,89504,90728,91457,91999,91783,92905,93702
21,GA,Industrial Total Volume (Mcf),174738801,164150756,153867455,166126186,137898713,143151662,159406449,160558820,156202324,159613858,152673594,150772504,140326468,146736944,144939603,146481335,157982238,160842018,157936621,152310511,150172174,158444954,155992413
22,GA,Industrial Sales Volume (Mcf),46627404,41232856,36752033,33506570,27447902,27489745,25422326,26383703,26763260,27087290,26333397,24269835,24754008,26622768,26376167,29334268,29920104,32170201,33203366,33538102,38571813,39811513,39314215
23,GA,Industrial Transported Volume (Mcf),128111397,122917900,117115422,132619616,110450811,115661917,133984123,134175117,129439064,132526568,126340197,126502669,115572460,120114176,118563436,117147067,128062134,128671817,124733255,118772409,111600361,118633441,116678198
24,GA,Industrial Sales Price (Dollars),4.61,4.33,4.36,5.56,6.99,5.65,7.51,8.25,10.98,10.51,10.17,11.63,8.06,7.56,7.14,6.42,7.2,7.81,5.94,6.22,6.46,6.36,5.99
25,GA,Industrial Transported Price (Dollars),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.34,0.38,0.34,0.3,0.35,0.41,0.38,0.36,0.33,0.33,0.32,0.38
26,GA,Industrial Sales Revenue (Dollars),212370746,161666555,125277478,161743078,161715717,133247566,171918909,198732155,275413442,257542043,233268371,267352428,153669590,166282477,155585246,135327564,160970730,195325984,146794960,138547337,179253017,184437232,166358360
27,GA,Industrial Transported Revenue (Dollars),0,0,0,0,0,0,0,0,0,0,0,13527953,11773649,11493253,10730209,10928027,12202195,13029524,14350313,15847200,16811272,17180916,17065082
28,GA,Industrial Total Customers,3307,3243,5580,3294,3330,3219,3326,3161,3543,3053,2913,2890,2254,2174,2184,2112,2242,2481,2549,2542,2577,2575,2432
29,GA,Industrial Sales Customers,2874,2948,3227,1010,967,943,1078,993,943,1042,1013,1003,956,892,928,886,984,887,952,966,1009,1010,871
30,GA,Industrial Transported Customers,433,295,2353,2284,2363,2276,2248,2168,2600,2011,1900,1887,1298,1282,1256,1226,1258,1594,1597,1576,1568,1565,1561
31,GA,Electric Total Volume (Mcf),6801698,26059498,29695978,23977194,16136246,22352826,17283125,18984794,45043324,60291509,76888472,58318818,87217061,194590144,224112253,349676005,279014635,287632372,351141275,375893580,358418152,360432192,388490093
32,GA,Electric Sales Volume (Mcf),6801698,21570171,114574,2016,1631,111634,34078,61798,27447,35265,23532,13825,10475,26994,10602,23184,12609,23750,6162,154780,120545,123725,146146
33,GA,Electric Transported Volume (Mcf),0,4489327,29581404,23975178,16134615,22241192,17249047,18922996,45015877,60256244,76864940,58304993,87206586,194563150,224101651,349652821,279002026,287608622,351135113,375738800,358297607,360308467,388343947
34,GA,Electric Sales Price (Dollars),4.72,4.42,5.42,8.3,11.19,4.74,7.38,7.05,7.96,49.93,26,11.49,5.1,5.31,8.38,4.05,5.33,5.44,4.24,2.03,4.1,4.3,2.58
35,GA,Electric Transported Price (Dollars),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.12,0.12,0.1,0.08,0.08,0.1,0.1,0.12,4.27,7.11,0.1,0.1
36,GA,Electric Sales Revenue (Dollars),10778440,18690710,357513,16730,18246,581948,225642,457971,168440,543361,222557,169442,53833,146232,57792,89582,57426,112539,29424,165679,457288,461471,285341
37,GA,Electric Transported Revenue (Dollars),0,0,0,0,0,0,0,0,0,0,0,265434,176447,230796,682766,832261,511677,285345,428614,433520,315978,230941,259340
38,GA,Electric Total Customers,7,8,11,11,15,12,17,18,17,18,18,18,19,18,18,27,25,25,22,24,24,23,24
39,GA,Electric Sales Customers,7,7,2,1,1,2,2,2,2,4,4,4,4,3,3,3,2,2,2,2,2,2,2
40,GA,Electric Transported Customers,0,1,9,10,14,10,15,16,15,14,14,14,15,15,15,24,23,23,20,22,22,21,22
41,GA,Vehicle Fuel Total Volume (Mcf),7338,11643,12175,525433,2576056,4118822,3922978,1586081,803508,728595,772913,712230,662338,1135082,1055900,1069850,1041304,1014288,1244056,1869194,1988179,1972624,1707514
42,GA,Vehicle Fuel Sales Volume (Mcf),7338,11643,11470,13423,12160,7609,0,0,0,806,1030,447,17179,17820,66999,70327,104582,150249,267557,315804,300042,267858,244945
43,GA,Vehicle Fuel Transported Volume (Mcf),0,0,705,512010,2563896,4111213,3922978,1586081,803508,727789,771883,711783,645159,1117262,988901,999523,936722,864039,976499,1553390,1688137,1704766,1462569
44,GA,Vehicle Fuel Sales Price (Dollars),4.17,3.76,3.98,5.1,0.65,6.5,NaN,NaN,NaN,13.05,12.93,12.91,12.11,5.17,5.57,14.51,19.61,15.49,13.24,10.42,11.26,9.76,10.98
45,GA,Vehicle Fuel Transported Price (Dollars),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.24,NaN,NaN,NaN,NaN,NaN,NaN,1.69,1.65,1.92
46,GA,Vehicle Fuel Sales Revenue (Dollars),30409,47701,45651,68497,7953,49459,0,0,0,10518,13318,5769,208069,92079,373184,1020147,2051272,2327010,3542035,3841455,4145817,3519530,3258782
47,GA,Vehicle Fuel Transported Revenue (Dollars),0,0,0,0,0,0,0,0,0,0,0,0,0,1386631,0,0,0,0,0,0,2850453,2815399,2802268
48,GA,Vehicle Fuel Total Customers,4,4,14,94,48,47,37,22,23,29,29,20,20,20,10,37,40,59,58,53,51,51,51
49,GA,Vehicle Fuel Sales Customers,4,4,12,13,13,10,0,0,0,8,8,1,1,1,3,31,33,53,50,47,47,47,47

In [68]:
sa[sa.Year==2017]

,Year,State,Company,Company Name,Investor Owned,Municipally Owned,Privately Owned,Cooperative,Other Ownership,Interstate,Intrastate,Storage Operator,SNG Operator,Producer,Gatherer,LNG Operator,LNG Marine Terminal,LNG Public,CNG Public,Other (Specify),Other (Descr),"Losses from leaks, etc. within State (Mcf)",Residential Total Volume (Mcf),Residential Sales Volume (Mcf),Residential Transported Volume (Mcf),Residential Sales Price (Dollars),Residential Transported Price (Dollars),Residential Sales Revenue (Dollars),Residential Transported Revenue (Dollars),Residential Total Customers,Residential Sales Customers,Residential Transported Customers,Commercial Total Volume (Mcf),Commercial Sales Volume (Mcf),Commercial Transported Volume (Mcf),Commercial Sales Price (Dollars),Commercial Transported Price (Dollars),Commercial Sales Revenue (Dollars),Commercial Transported Revenue (Dollars),Commercial Total Customers,Commercial Sales Customers,Commercial Transported Customers,Industrial Total Volume (Mcf),Industrial Sales Volume (Mcf),Industrial Transported Volume (Mcf),Industrial Sales Price (Dollars),Industrial Transported Price (Dollars),Industrial Sales Revenue (Dollars),Industrial Transported Revenue (Dollars),Industrial Total Customers,Industrial Sales Customers,Industrial Transported Customers,Electric Total Volume (Mcf),Electric Sales Volume (Mcf),Electric Transported Volume (Mcf),Electric Sales Price (Dollars),Electric Transported Price (Dollars),Electric Sales Revenue (Dollars),Electric Transported Revenue (Dollars),Electric Total Customers,Electric Sales Customers,Electric Transported Customers,Vehicle Fuel Total Volume (Mcf),Vehicle Fuel Sales Volume (Mcf),Vehicle Fuel Transported Volume (Mcf),Vehicle Fuel Sales Price (Dollars),Vehicle Fuel Transported Price (Dollars),Vehicle Fuel Sales Revenue (Dollars),Vehicle Fuel Transported Revenue (Dollars),Vehicle Fuel Total Customers,Vehicle Fuel Sales Customers,Vehicle Fuel Transported Customers
40045,2017,ME,17617891ME,NORTHERN UTILITIES DBA UNITIL CORP,X,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,X,NaN,NaN,NaN,NaN,NaN,72074.0,1519510.0,1519510.0,NaN,15.21,0.0,23111870.0,NaN,23154,23154.0,NaN,4456218.0,2937157.0,1519061.0,11.19,3.91,32858807.0,5941776.0,9188,7862.0,1326.0,3964334.0,1510014.0,2454320.0,8.10,2.40,12233508.0,5879736.0,78,24.0,54.0,NaN,NaN,NaN,0.0,0.00,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,0,NaN,NaN
40046,2017,ME,17619887ME,GRANITE STATE GAS TRANSMISSION,NaN,NaN,NaN,NaN,NaN,X,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.00,0.0,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,0.00,0.00,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,0.00,0.00,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,0.0,0.00,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,0,NaN,NaN
40047,2017,ME,17676620ME,SUMMIT NATURAL GAS,X,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,194176.0,194176.0,NaN,19.13,0.0,3713677.0,NaN,2475,2475.0,NaN,482725.0,482725.0,NaN,13.87,0.00,6695325.0,NaN,658,658.0,NaN,2580058.0,NaN,2580058.0,0.00,1.72,NaN,4441053.0,4,NaN,4.0,NaN,NaN,NaN,0.0,0.00,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,0,NaN,NaN
40048,2017,ME,17694420ME,MARITIMES NORTHEAST PIPELINE LLC,NaN,NaN,NaN,NaN,NaN,X,X,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.00,0.0,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,0.00,0.00,NaN,NaN,0,NaN,NaN,5211718.0,NaN,5211718.0,0.00,NaN,NaN,NaN,4,NaN,4.0,2458252.0,NaN,2458252.0,0.0,NaN,NaN,NaN,1,NaN,1.0,NaN,NaN,NaN,0.0,0.0,NaN,NaN,0,NaN,NaN
40049,2017,ME,17695012ME,PORTLAND NATURAL GAS TRANS SYSTEM,NaN,NaN,NaN,NaN,NaN,X,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,53032.0,NaN,NaN,NaN,0.00,0.0,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,0.00,0.00,NaN,NaN,0,NaN,NaN,5577798.0,NaN,5577798.0,0.00,NaN,NaN,NaN,3,NaN,3.0,1736071.0,NaN,1736071.0,0.0,NaN,NaN,NaN,1,NaN,1.0,NaN,NaN,NaN,0.0,0.0,NaN,NaN,0,NaN,NaN
40050,2017,ME,17695252ME,BANGOR GAS COMPANY LLC,X,NaN,NaN,NaN,NaN,NaN,X,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,681030.0,681030.0,NaN,11.94,0.0,8134090.0,NaN,4879,4879.0,NaN,2227135.0,983265.0,1243870.0,10.29,1.97,10120232.0,2444537.0,1358,1313.0,45.0,294192.0,7654.0,286538.0,10.70,4.23,81863.0,1213145.0,23,8.0,15.0,NaN,NaN,NaN,0.0,0.00,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,0,NaN,NaN
40051,2017,ME,17698117ME,MAINE NATURAL GAS CORP,X,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20659.0,353034.0,353034.0,NaN,14.67,0.0,5177359.0,NaN,3242,3242.0,NaN,1758600.0,891360.0,867240.0,11.58,2.88,10319710.0,2501562.0,1387,1360.0,27.0,70317.0,70317.0,NaN,8.81,0.00,619349.0,NaN,15,15.0,NaN,9492809.0,NaN,9492809.0,0.0,0.06,NaN,568680.0,1,NaN,1.0,NaN,NaN,NaN,0.0,0.0,NaN,NaN,0,NaN,NaN
40052,2017,ME,17699923ME,ADJUSTMENT COMPANY,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.00,0.0,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,0.00,0.00,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,0.00,0.00,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,0.0,0.00,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,0,NaN,NaN

In [73]:
metrics = np.nan_to_num(metrics)
metrics

array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0.])

In [69]:

for i in sa.columns[21:22]:
    metrics = [0 for _ in range(1997,2020)]
    for yr in range(1997,2020):
        temp_df = sa[sa.Year==yr]
        if('Price' in i):
            lens = np.count_nonzero()
            val = sum(temp_df[i])/np.count_nonzero(temp_df[i])
            metrics[yr-1997] = round(val,2)
        else:
            metrics[yr-1997] = sum(temp_df[i])
    print(metrics)

[nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan]

In [63]:
sa = df_nat[df_nat.State=='ME']
sa.head()

,Year,State,Company,Company Name,Investor Owned,Municipally Owned,Privately Owned,Cooperative,Other Ownership,Interstate,Intrastate,Storage Operator,SNG Operator,Producer,Gatherer,LNG Operator,LNG Marine Terminal,LNG Public,CNG Public,Other (Specify),Other (Descr),"Losses from leaks, etc. within State (Mcf)",Residential Total Volume (Mcf),Residential Sales Volume (Mcf),Residential Transported Volume (Mcf),Residential Sales Price (Dollars),Residential Transported Price (Dollars),Residential Sales Revenue (Dollars),Residential Transported Revenue (Dollars),Residential Total Customers,Residential Sales Customers,Residential Transported Customers,Commercial Total Volume (Mcf),Commercial Sales Volume (Mcf),Commercial Transported Volume (Mcf),Commercial Sales Price (Dollars),Commercial Transported Price (Dollars),Commercial Sales Revenue (Dollars),Commercial Transported Revenue (Dollars),Commercial Total Customers,Commercial Sales Customers,Commercial Transported Customers,Industrial Total Volume (Mcf),Industrial Sales Volume (Mcf),Industrial Transported Volume (Mcf),Industrial Sales Price (Dollars),Industrial Transported Price (Dollars),Industrial Sales Revenue (Dollars),Industrial Transported Revenue (Dollars),Industrial Total Customers,Industrial Sales Customers,Industrial Transported Customers,Electric Total Volume (Mcf),Electric Sales Volume (Mcf),Electric Transported Volume (Mcf),Electric Sales Price (Dollars),Electric Transported Price (Dollars),Electric Sales Revenue (Dollars),Electric Transported Revenue (Dollars),Electric Total Customers,Electric Sales Customers,Electric Transported Customers,Vehicle Fuel Total Volume (Mcf),Vehicle Fuel Sales Volume (Mcf),Vehicle Fuel Transported Volume (Mcf),Vehicle Fuel Sales Price (Dollars),Vehicle Fuel Transported Price (Dollars),Vehicle Fuel Sales Revenue (Dollars),Vehicle Fuel Transported Revenue (Dollars),Vehicle Fuel Total Customers,Vehicle Fuel Sales Customers,Vehicle Fuel Transported Customers
903,1997,ME,17617891ME,NORTHERN UTILITIES DBA UNITIL CORP,X,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,X,X,NaN,NaN,NaN,NaN,NaN,1008699.0,1008699.0,NaN,8.47,0.0,8538824.0,NaN,15221,15221.0,NaN,2713362.0,2713362.0,NaN,7.70,0.0,20884720.0,NaN,6606,6606.0,NaN,2524911.0,2306756.0,218155.0,5.55,0.0,12804135.0,0.0,81,79.0,2.0,NaN,NaN,NaN,0.0,0.0,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,0,NaN,NaN
2740,1998,ME,17617891ME,NORTHERN UTILITIES DBA UNITIL CORP,X,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,909549.0,909549.0,NaN,8.09,0.0,7359524.0,NaN,15646,15646.0,NaN,2456172.0,2456172.0,NaN,7.23,0.0,17760252.0,NaN,6662,6662.0,NaN,2297120.0,2008651.0,288469.0,5.13,0.0,10305931.0,0.0,110,106.0,4.0,NaN,NaN,NaN,0.0,0.0,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,0,NaN,NaN
4545,1999,ME,17617891ME,NORTHERN UTILITIES DBA UNITIL CORP,X,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,X,X,NaN,NaN,NaN,NaN,NaN,957442.0,957442.0,NaN,7.47,0.0,7150243.0,NaN,15247,15247.0,NaN,2547178.0,2547178.0,NaN,6.65,0.0,16949638.0,NaN,6582,6582.0,NaN,2549654.0,1994937.0,554717.0,4.93,0.0,9827694.0,0.0,108,101.0,7.0,NaN,NaN,NaN,0.0,0.0,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,0,NaN,NaN
6362,2000,ME,17617891ME,NORTHERN UTILITIES DBA UNITIL CORP,X,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,X,X,NaN,NaN,NaN,NaN,NaN,1036717.0,1036717.0,NaN,9.71,0.0,10062862.0,NaN,17111,17111.0,NaN,2770080.0,2770080.0,NaN,6.06,0.0,16782444.0,NaN,6954,6954.0,NaN,3926562.0,1706127.0,2220435.0,4.10,0.0,6993452.0,0.0,176,111.0,65.0,NaN,NaN,NaN,0.0,0.0,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,0,NaN,NaN
6363,2000,ME,17619887ME,GRANITE STATE GAS TRANSMISSION,NaN,NaN,NaN,NaN,NaN,X,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.00,0.0,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,0.00,0.0,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,0.00,0.0,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,0,NaN,NaN

In [58]:
def get_state_metric_totals(s):
    sa = df_nat[df_nat.State==sa]
    sasum = pd.DataFrame(columns=['State','Metric']+[str(i) for i in range(1997,2020)])
    for i in sa.Metric.unique():
        temp_df = sa[sa.Metric==i]
        metrics = [0 for _ in range(1997,2020)]
        for yr in range(1997,2020):
            if('Price' in i):
                lens = np.count_nonzero()
                val = sum(temp_df[str(yr)])/np.count_nonzero(temp_df[str(yr)])
                val = round(val,2)
            else:
                val = int(sum(temp_df[str(yr)]))
            metrics[1997-yr] = val
        sasum.loc[len(sasum)] = [s, i] + metrics
    return sasum

In [59]:
sa = get_state_full_metrics('ME')

17617891ME
17619887ME
17694420ME
17695012ME
17695252ME
17698117ME
17699923ME
17676620ME

In [60]:
sa.to_csv('')

,State,Company,Company Name,Metric,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,ME,17617891ME,NORTHERN UTILITIES DBA UNITIL CORP,"Losses from leaks, etc. within State (Mcf)",0,0,0,0,0,0,0,0,0,0,0,0,0,52876.00,37671.00,21285.00,98213.00,104995.00,83955.00,79226.00,72074.00,96088.00,116175.00
1,ME,17617891ME,NORTHERN UTILITIES DBA UNITIL CORP,Residential Total Volume (Mcf),1.0087e+06,909549,957442,1.03672e+06,952198,991936,1.11639e+06,1.06803e+06,1.01797e+06,858786,1.0092e+06,921771,1.03304e+06,973814.00,1102794.00,1096396.00,1258416.00,1458119.00,1545772.00,1415745.00,1519510.00,1691927.00,1686830.00
2,ME,17617891ME,NORTHERN UTILITIES DBA UNITIL CORP,Residential Sales Volume (Mcf),1.0087e+06,909549,957442,1.03672e+06,952198,991936,1.11639e+06,1.06803e+06,1.01797e+06,858786,1.0092e+06,921771,1.03252e+06,972827.00,1102794.00,1096396.00,1258416.00,1458119.00,1545772.00,1415745.00,1519510.00,1691927.00,1686830.00
3,ME,17617891ME,NORTHERN UTILITIES DBA UNITIL CORP,Residential Transported Volume (Mcf),0,0,0,0,0,0,0,0,0,0,0,0,511,987.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
4,ME,17617891ME,NORTHERN UTILITIES DBA UNITIL CORP,Residential Sales Price (Dollars),8.47,8.09,7.47,9.71,12.31,12.02,13.07,14.38,16.38,17.84,16.91,17.88,17.16,14.79,14.65,15.99,15.96,16.45,16.86,14.33,15.21,16.17,16.14
5,ME,17617891ME,NORTHERN UTILITIES DBA UNITIL CORP,Residential Transported Price (Dollars),0,0,0,0,0,0,0,0,0,0,0,0,3.35,3.24,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
6,ME,17617891ME,NORTHERN UTILITIES DBA UNITIL CORP,Residential Sales Revenue (Dollars),8.53882e+06,7.35952e+06,7.15024e+06,1.00629e+07,1.17243e+07,1.19232e+07,1.45912e+07,1.5362e+07,1.66739e+07,1.53236e+07,1.7063e+07,1.64801e+07,1.77134e+07,14385424.00,16155414.00,17526746.00,20084005.00,23983246.00,26059658.00,20289854.00,23111870.00,27361430.00,27220237.00
7,ME,17617891ME,NORTHERN UTILITIES DBA UNITIL CORP,Residential Transported Revenue (Dollars),0,0,0,0,0,0,0,0,0,0,0,0,1714,3196.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
8,ME,17617891ME,NORTHERN UTILITIES DBA UNITIL CORP,Residential Total Customers,15221,15646,15247,17111,17290,17535,17680,17637,17415,17264,17500,17822,18748,18736.00,19568.00,19548.00,19757.00,20675.00,22445.00,22836.00,23154.00,23654.00,24295.00
9,ME,17617891ME,NORTHERN UTILITIES DBA UNITIL CORP,Residential Sales Customers,15221,15646,15247,17111,17290,17535,17680,17637,17415,17264,17500,17822,18737,18735.00,19568.00,19548.00,19757.00,20675.00,22445.00,22836.00,23154.00,23654.00,24295.00

In [42]:
tots = get_state_metric_totals('ME')

17617891ME
17619887ME
17694420ME
17695012ME
17695252ME
17698117ME
17699923ME
17676620ME

In [43]:
tots.head(100)

,State,Metric,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,ME,"Losses from leaks, etc. within State (Mcf)",0,206420,194017,145765,174746,225423,324063,270048,136839,259537,429288,0,0,0,0,22,0,20,21,0,0,0,0
1,ME,Residential Total Volume (Mcf),1008699,3134098,3079296,2747750,2566196,2699512,2357448,1888559,1486750,1408852,1233581,1286200,1100823,1170148,985123,1149301,1188813,1210946,1055522,953530,1036717,957442,909549
2,ME,Residential Sales Volume (Mcf),1008699,3134098,3079296,2747750,2566196,2699512,2357448,1888559,1486750,1408852,1232594,1285689,1100823,1170148,985123,1149301,1188813,1210946,1055522,953530,1036717,957442,909549
3,ME,Residential Transported Volume (Mcf),0,0,0,0,0,0,0,0,0,0,987,511,0,0,0,0,0,0,0,0,0,0,0
4,ME,Residential Sales Price (Dollars),1.06,8.6,8.69,7.62,7.21,8.4,9.38,5.45,5.97,4.99,4.75,5.38,5.95,6.13,6.48,5.74,4.64,4.08,3.56,2.68,1.21,0.93,1.01
5,ME,Residential Transported Price (Dollars),0,0,0,0,0,0,0,0,0,0,0.41,0.42,0,0,0,0,0,0,0,0,0,0,0
6,ME,Residential Sales Revenue (Dollars),8538824,50292147,50242310,40136996,35464816,45320380,39833153,28718271,23702709,20002435,17430811,21125117,19235309,19771810,17633361,18589641,16640921,15461686,12429306,11736427,10062862,7150243,7359524
7,ME,Residential Transported Revenue (Dollars),0,0,0,0,0,0,0,0,0,0,3196,1714,0,0,0,0,0,0,0,0,0,0,0
8,ME,Residential Total Customers,15221,36557,34874,33750,32708,31011,27047,24765,23555,22461,21142,20806,19571,18921,18824,18633,18707,18385,17921,17302,17111,15247,15646
9,ME,Residential Sales Customers,15221,36557,34874,33750,32708,31011,27047,24765,23555,22461,21141,20795,19571,18921,18824,18633,18707,18385,17921,17302,17111,15247,15646
10,ME,Residential Transported Customers,0,0,0,0,0,0,0,0,0,0,1,11,0,0,0,0,0,0,0,0,0,0,0
11,ME,Commercial Total Volume (Mcf),2713362,9919105,9586127,8924678,8558725,10072303,9029750,8146306,7313236,6592666,5829603,5540721,5878274,5748713,4700569,4792244,4811272,4781311,5166721,2642240,2770080,2547178,2456172
12,ME,Commercial Sales Volume (Mcf),2713362,6277696,5970112,5294507,4946735,5354340,4431460,3474175,3080525,3016994,2626044,2824953,2643662,2656340,2288293,2869632,3108124,3356432,3183871,2642240,2770080,2547178,2456172
13,ME,Commercial Transported Volume (Mcf),0,3641409,3616015,3630171,3611990,4717963,4598290,4672131,4232711,3575672,3203559,2715768,3234612,3092373,2412276,1922612,1703148,1424879,1982850,0,0,0,0
14,ME,Commercial Sales Price (Dollars),0.96,6.77,6.91,5.87,5.33,6.88,7.39,4.56,4.28,4.07,4.11,4.72,5.61,5.28,5.42,5.13,4.25,3.71,2.95,2.25,0.76,0.83,0.9
15,ME,Commercial Transported Price (Dollars),0,1.14,1.13,1.09,1.04,0.78,0.78,0.79,0.77,0.65,0.61,0.63,0.55,0,0,0,0,0,0,0,0,0,0
16,ME,Commercial Sales Revenue (Dollars),20884720,79215359,77677987,59994074,52595337,75795050,67064436,44433498,37645899,35258350,30753249,39381937,41957406,39366165,35831610,41265894,38237783,38228403,30421599,28450066,16782444,16949638,17760252
17,ME,Commercial Transported Revenue (Dollars),0,11259223,11256044,10887875,10437380,8558022,9548325,10420589,8829466,6362494,5562693,5205282,5940934,0,0,0,0,0,0,0,0,0,0
18,ME,Commercial Total Customers,6606,13130,13000,12591,12136,11888,11810,11415,10179,9681,9084,8815,8491,8334,8168,8178,7687,7517,7375,6936,6954,6582,6662
19,ME,Commercial Sales Customers,6606,11731,11637,11193,10602,10216,9859,9481,8388,8081,7583,7429,7441,7373,7478,7696,7272,7334,7246,6936,6954,6582,6662
20,ME,Commercial Transported Customers,0,1399,1363,1398,1534,1672,1951,1934,1791,1600,1501,1386,1050,961,690,482,415,183,129,0,0,0,0
21,ME,Industrial Total Volume (Mcf),2524911,21023812,19230912,17698417,18982951,20971724,24120652,32308111,30247819,27733659,28365238,25923432,25628394,21639923,17514289,6499705,16232898,3315086,23671536,10928903,12983687,2549654,2297120
22,ME,Industrial Sales Volume (Mcf),2306756,1680520,1608967,1587985,1587435,1119011,446409,287867,130176,145024,176134,309426,214093,172051,159614,202000,279240,349552,391470,879358,1706127,1994937,2008651
23,ME,Industrial Transported Volume (Mcf),218155,19343292,17621945,16110432,17395516,19852713,23674243,32020244,30117643,27588635,28189104,25614006,25414301,21467872,17354675,6297705,15953658,2965534,23280066,10049545,11277560,554717,288469
24,ME,Industrial Sales Price (Dollars),0.69,3.88,4.26,3.45,3.18,4.59,4.58,3.95,3.59,3.85,3.94,3.86,5.54,4.75,8.2,5.69,3.62,3.28,2.82,1.77,0.51,0.62,0.64
25,ME,Industrial Transported Price (Dollars),0,0.78,0.97,1.04,0.88,0.39,0.4,0.26,0.26,0.21,0.27,0.26,0.24,0,0,0,0,0,0,0,0,0,0
26,ME,Industrial Sales Revenue (Dollars),12804135,14572783,14905702,12934720,12186235,10015921,5324831,2971626,1347042,1579449,1977930,2821572,3188068,2306294,2296806,2776025,2911461,3404838,3303776,7035765,6993452,9827694,10305931
27,ME,Industrial Transported Revenue (Dollars),0,13009720,12218615,11533934,11898113,10174550,9314525,9481703,9651844,7387806,12120561,9891833,6809533,0,0,0,0,0,0,0,0,0,0
28,ME,Industrial Total Customers,81,148,134,127,131,136,126,120,108,102,94,85,82,76,75,69,69,65,68,233,178,108,110
29,ME,Industrial Sales Customers,79,58,51,47,53,62,50,45,29,29,26,28,25,24,25,22,23,24,26,120,111,101,106
30,ME,Industrial Transported Customers,2,90,83,80,78,74,76,75,79,73,68,57,57,52,50,47,46,41,42,113,67,7,4
31,ME,Electric Total Volume (Mcf),0,9415345,13528958,13687132,22333652,17420549,23530290,20663441,28219162,67128224,24711367,23334984,28694638,24949950,48283125,67863383,65523482,106042941,109162505,89913774,30385358,0,0
32,ME,Electric Sales Volume (Mcf),0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
33,ME,Electric Transported Volume (Mcf),0,9415345,13528958,13687132,22333652,17420549,23530290,20663441,28219162,67128224,24711367,23334984,28694638,24949950,48283125,67863383,65523482,106042941,109162505,89913774,30385358,0,0
34,ME,Electric Sales Price (Dollars),0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
35,ME,Electric Transported Price (Dollars),0,0.01,0.01,0.01,0.01,0.01,0.01,0,0,0,0.02,0.07,0.1,0,0,0,0,0,0,0,0,0,0
36,ME,Electric Sales Revenue (Dollars),0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
37,ME,Electric Transported Revenue (Dollars),0,568680,568680,568680,568680,569460,568680,568680,568680,568680,1498776,3470554,8618736,0,0,0,0,0,0,0,0,0,0
38,ME,Electric Total Customers,0,3,3,3,3,3,3,3,3,3,3,3,3,4,4,6,6,8,6,7,5,0,0
39,ME,Electric Sales Customers,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
40,ME,Electric Transported Customers,0,3,3,3,3,3,3,3,3,3,3,3,3,4,4,6,6,8,6,7,5,0,0
41,ME,Vehicle Fuel Total Volume (Mcf),0,0,0,0,118,18,309,323,142,30,0,0,0,0,0,0,0,0,0,0,0,0,0
42,ME,Vehicle Fuel Sales Volume (Mcf),0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
43,ME,Vehicle Fuel Transported Volume (Mcf),0,0,0,0,118,18,309,323,142,30,0,0,0,0,0,0,0,0,0,0,0,0,0
44,ME,Vehicle Fuel Sales Price (Dollars),0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
45,ME,Vehicle Fuel Transported Price (Dollars),0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
46,ME,Vehicle Fuel Sales Revenue (Dollars),0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
47,ME,Vehicle Fuel Transported Revenue (Dollars),0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
48,ME,Vehicle Fuel Total Customers,0,0,0,0,5,5,5,5,3,1,0,0,0,0,0,0,0,0,0,0,0,0,0
49,ME,Vehicle Fuel Sales Customers,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
50,ME,Vehicle Fuel Transported Customers,0,0,0,0,5,5,5,5,3,1,0,0,0,0,0,0,0,0,0,0,0,0,0