In [65]:
import pandas as pd
pd.set_option('display.max_columns', None)
us_state_abbrev = {'the United States':'US','Alabama': 'AL','Alaska': 'AK','American Samoa': 'AS','Arizona': 'AZ','Arkansas': 'AR','California': 'CA','Colorado': 'CO', 'Connecticut': 'CT','Delaware': 'DE','District of Columbia': 'DC', 'Florida': 'FL','Georgia': 'GA','Guam': 'GU','Hawaii': 'HI', 'Idaho': 'ID','Illinois': 'IL','Indiana': 'IN','Iowa': 'IA','Kansas': 'KS','Kentucky': 'KY','Louisiana': 'LA', 'Maine': 'ME','Maryland': 'MD','Massachusetts': 'MA','Michigan': 'MI','Minnesota': 'MN','Mississippi': 'MS','Missouri': 'MO', 'Montana': 'MT','Nebraska': 'NE','Nevada': 'NV','New Hampshire': 'NH','New Jersey': 'NJ','New Mexico': 'NM','New York': 'NY','North Carolina': 'NC', 'North Dakota': 'ND','Northern Mariana Islands':'MP','Ohio': 'OH','Oklahoma': 'OK','Oregon': 'OR','Pennsylvania': 'PA','Puerto Rico': 'PR', 'Rhode Island': 'RI','South Carolina': 'SC','South Dakota': 'SD','Tennessee': 'TN','Texas': 'TX','Utah': 'UT', 'Vermont': 'VT','Virgin Islands': 'VI','Virginia': 'VA','Washington': 'WA','West Virginia': 'WV','Wisconsin': 'WI','Wyoming': 'WY'}
abbrev_us_state = dict(map(reversed, us_state_abbrev.items()))

In [55]:
states = pd.read_excel('Tessum/abf4491_Data_file_S2.xlsx', 0)
cities = pd.read_excel('Tessum/abf4491_Data_file_S2.xlsx', 1)

In [56]:
state1 = ['' for _ in cities.index]
state2 = ['' for _ in cities.index]
state3 = ['' for _ in cities.index]
for i in cities.index:
    state = cities['urban_area'][i].split(',')[1].split('--')
    state1[i] = (state[0].strip(' '))
    if(len(state)>1):
        state2[i] = (state[1].strip(' '))
    if(len(state)>2):
        state3[i] = (state[2].strip(' '))
cities['State1'] = state1
cities['State2'] = state2
cities['State3'] = state3

In [3]:
sa = 'IL'

In [68]:
def get_state_tessum(sa):
    df1 = states[states.state==abbrev_us_state[sa]].reset_index(drop=True)
    df1 = df1.drop(columns=['lookup'])
    df2 = cities[(cities.State1==sa)|(cities.State2==sa)|(cities.State3==sa)].reset_index(drop=True)
    df2 = df2.drop(columns=['State1','State2','State3'])
    df2['State'] = [sa for _ in df2.index]
    return df1, df2

In [ ]:
def get_national_tessum(sa):
    df1 = states.drop(columns='lookup')
    return df1, cities

In [74]:
cities.head()

,urban_area,source,all_exp,POC_exp,white_exp,latino_exp,black_exp,asian_exp,white_diff,white_pctDiff,POC_diff,POC_pctDiff,latino_diff,latino_pctDiff,black_diff,black_pctDiff,asian_diff,asian_pctDiff,State1,State2,State3
0,"Aberdeen--Bel Air South--Bel Air North, MD",All,7.851090,7.954100,7.824922,7.919391,7.991347,7.903022,-0.026168,-0.003333,0.103010,0.013121,0.068301,0.008700,0.140257,0.017865,0.051932,0.006615,MD,,
1,"Abilene, TX",All,4.998338,5.082757,4.939609,5.136736,4.989292,4.822088,-0.058729,-0.011750,0.084418,0.016889,0.138398,0.027689,-0.009047,-0.001810,-0.176250,-0.035262,TX,,
2,"Akron, OH",All,7.465346,8.073224,7.294413,7.654003,8.198764,7.961985,-0.170933,-0.022897,0.607878,0.081427,0.188657,0.025271,0.733419,0.098243,0.496639,0.066526,OH,,
3,"Albany, GA",All,4.815251,4.881814,4.637868,4.816500,4.892171,4.570973,-0.177382,-0.036838,0.066564,0.013824,0.001250,0.000260,0.076920,0.015974,-0.244278,-0.050730,GA,,
4,"Albany, OR",All,2.690170,2.756878,2.673529,2.777009,2.512601,2.775123,-0.016641,-0.006186,0.066709,0.024797,0.086839,0.032280,-0.177569,-0.066006,0.084954,0.031579,OR,,

In [70]:
df, df2 = get_state_tessum('DC')
df.head(25)

Empty DataFrame
Columns: [state, source, all_exp, white_exp, POC_exp, hispanic_exp, black_exp, asian_exp, POC_pctDiff, hispanic_pctDiff, black_pctDiff, asian_pctDiff]
Index: []

In [29]:
df_state, df_cities = get_state_tessum('GA')
with pd.ExcelWriter('PM25_Racial_Disparities.xlsx') as writer:  
    df_state.to_excel(writer, sheet_name='State-Level')
    df_cities.to_excel(writer, sheet_name='City-Level')